<div class="wrapper ">
  {{> sidebar dashboardPage=true}}

  <div class="main-panel" style="height: 100vh;">
    {{> nav navTitle='Dashboard'}}

    <div class="content">
      <div class="row">
        <div class="col-md-12">
          <h3 class="description">Dashboard</h3>
        </div>
      </div>
    </div>
  </div>
</div>